.register-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.register-input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-button2 {
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 250px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
